{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="alert alert-info" style="overflow: hidden;">
      <div class="row">
        <div class="col-sm-8">{{ text_connect_param }}</div>
        <div class="col-sm-4">{{ text_param_image }}</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"  style="display: flex; justify-content: space-between;">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        <p style="color: red;">v2.0.1</p>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-paymode">{{ entry_paymode }}</label>
            <div class="col-sm-10">
              <select name="payment_param_paymode" id="input-test" class="form-control">

                  <option value="transparent" selected="selected">{{ text_transparent }}</option>

              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-test"><span data-toggle="tooltip" title="{{ help_testmode }}">{{ entry_test }}</span></label>
            <div class="col-sm-10">
              <select name="payment_param_test" id="input-test" class="form-control">
                {% if payment_param_test %}
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  <option value="0">{{ text_no }}</option>
                {% else %}
                  <option value="1">{{ text_yes }}</option>
                  <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-client-code"><span data-toggle="tooltip" title="{{ help_client_code }}">{{ entry_client_code }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_param_client_code" value="{{ payment_param_client_code }}" placeholder="{{ entry_client_code }}" id="input-client-code" class="form-control"/>
              {% if error_client_code %}
                <div class="text-danger">{{ error_client_code }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-client-username"><span data-toggle="tooltip" title="{{ help_client_username }}">{{ entry_client_username }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_param_client_username" value="{{ payment_param_client_username }}" placeholder="{{ entry_client_username }}" id="input-client-username" class="form-control"/>
              {% if error_client_password %}
                <div class="text-danger">{{ error_client_password }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-client-password"><span data-toggle="tooltip" title="{{ help_client_password }}">{{ entry_client_password }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_param_client_password" value="{{ payment_param_client_password }}" placeholder="{{ entry_client_password }}" id="input-client-password" class="form-control"/>
              {% if error_client_password %}
                <div class="text-danger">{{ error_client_password }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-guid"><span data-toggle="tooltip" title="{{ help_guid }}">{{ entry_guid }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_param_guid" value="{{ payment_param_guid }}" placeholder="{{ entry_guid }}" id="input-guid" class="form-control"/>
              {% if error_guid %}
                <div class="text-danger">{{ error_guid }}</div>
              {% endif %}
            </div>
          </div>
          <!--
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password"><span data-toggle="tooltip" title="{{ help_password }}">{{ entry_password }}</span></label>
            <div class="col-sm-10">
              <input type="password" name="payment_param_password" value="{{ payment_param_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
              {% if error_password %}
                <div class="text-danger">{{ error_password }}</div>
              {% endif %}
            </div>
          </div>
          -->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_param_status" id="input-status" class="form-control">
                {% if payment_param_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_installment_status }}</label>
            <div class="col-sm-10">
              <select name="payment_param_installment_status" id="input-installment-status" class="form-control">
                {% if payment_param_installment_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-transaction-method"><span data-toggle="tooltip" title="{{ help_transaction_method }}">{{ entry_transaction_method }}</span></label>
            <div class="col-sm-10">
              <select name="payment_param_transaction_method" id="input-transaction-method" class="form-control">
                {% if payment_param_transaction_method == 'auth' %}
                  <option value="payment">{{ text_sale }}</option>
                  <option value="auth" selected="selected">{{ text_authorisation }}</option>
                {% else %}
                  <option value="payment" selected="selected">{{ text_sale }}</option>
                  <option value="auth">{{ text_authorisation }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="param_payment_type">{{ entry_payment_type }}</label>
            <div class="col-sm-10">
              <p>
                <input type="hidden" name="payment_param_payment_type[visa]" value="0"/> <input type='checkbox' name='payment_param_payment_type[visa]' id="param_payment_type" value='1' {{ payment_param_payment_type.visa is defined and payment_param_payment_type.visa == 1 ? 'checked="checked"' : '' }} /> CC - Visa
              </p>
              <p>
                <input type="hidden" name="payment_param_payment_type[mastercard]" value="0"/> <input type='checkbox' name='payment_param_payment_type[mastercard]' value='1' {{ payment_param_payment_type.mastercard is defined and payment_param_payment_type.mastercard == 1 ? 'checked="checked"' : '' }} /> CC - MasterCard
              </p>
              <p>
                <input type="hidden" name="payment_param_payment_type[amex]" value="0"/> <input type='checkbox' name='payment_param_payment_type[amex]' value='1' {{ payment_param_payment_type.amex is defined and payment_param_payment_type.amex == 1 ? 'checked="checked"' : '' }} /> CC - Amex
              </p>

              {% if error_payment_type %}
                <div class="text-danger">{{ error_payment_type }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_param_standard_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                  {% if geo_zone.geo_zone_id == payment_param_standard_geo_zone_id %}
                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                  {% else %}
                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_param_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == payment_param_order_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status-auth">{{ entry_order_status_auth }}</label>
            <div class="col-sm-10">
              <select name="payment_param_order_status_auth_id" id="input-order-status-auth" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == payment_param_order_status_auth_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_param_sort_order" value="{{ payment_param_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}